<div class="h-full w-full min-w-screen min-h-screen bg-gray-200 flex">
  <!-- Form Container -->
  <div class="h-screen flex-1 flex-col bg-gray-900">
    <div class="text-white flex flex-col items-center justify-center h-full">
      <img src="assets/pjc_logo.svg" alt="PJC Logo" class="w-20 md:w-32" />
      <h1 class="text-5xl mt-4 md:mt-8">Bem-vindo</h1>
      <p class="text-gray-400 mb-4 md:mb-8">
        Entre com a senha para poder assistir ao conteúdo da oitiva.
      </p>

      <!-- Password imput -->
      <div class="flex flex-col">
        <label class="text-gray-400">Entre com a senha*</label>
        <mat-form-field appearance="outline" class="h-10">
          <input matInput [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
  </div>

  <!-- Imagem Container -->
  <div class="flex-1"></div>
</div>
